

h1 { 
    color: #123353; 
    font-size: 2em; 
    font-weight: bold; 
}



 * { font-family: calibri, sans-serif; color:#2F4F4F;}     

body {background-color: #F3F1E4;}
table, tr, td, th{border: 1px solid black}

nav a {border: 2px solid lightgray;text-decoration: none;padding: 2px}
nav a:hover {background-color:#123353; color:#F3F1E4;}